body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
    height: 77vh;
}

header{
    padding: 25px 0;
    text-align: center;
    color: rgb(230, 230, 230);
    background-color: cadetblue;
}

.hero{
    width: 100%;
    height: 100%;
    background-color: rgb(230, 230, 230);
    color: rgb(15, 15, 15);
    display: grid;
    grid-template-rows: 200px 100px 150px 1fr;
    justify-content: center;
    text-align: center;
}


.pieDePagina{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    color: rgb(230, 230, 230);
    padding: 25px 10px;
}

.pieDePagina h3{
    color: red;
}
